{% extends "base.html" %}

{% block main %}
<header1>
  <h2>Home</h2>
</header1>


<div class="grid-container">
  <div class="grid-item grid-item-1">
    <p>This website explains the correlation between music and mental health. The data on this website has been taken from 'Music & Mental Health Survey Results - Survey results on music taste and self-reported mental health'.</p>
  </div>

  <table>
  <thead>
      <tr> 
      <th>Categories 1</th>
      <th>Categories 2</th>
      <th>Categories 3</th>
    </tr>   
  </thead>
  <tbody>
    <tr>
      <td>Age-Streaming Service-Hours Listening</td>
      <td>When working-Instrumentalist-Fav Genre</td>
      <td>Anxiety-Depression-Insomnia</td>
    </tr>
  </tbody>

  
</table>

{% endblock %} 